<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:include="~{ head :: #head }"></head>
<body>
    <header th:replace="~{ header :: #header }"></header>

    <main class="container">
        <a href="/ville/add" class="btn btn-success float-end">Nouvelle ville</a>
        <div class="h2">Liste des Villes</div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Ville</th>
                <th>CP</th>
                <th style="width:100px"><i class="fas fa-cogs"></i></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="v : ${liste_ville}">
                    <td th:utext="${v.nom}"></td>
                    <td th:utext="${v.codePostal}"></td>
                    <td>
                        <a th:href="@{'/ville/edit/' + ${v.id}}"><i class="fas fa-edit"></i></a>
                        <a th:href="@{'/ville/delete/' + ${v.id}}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <footer th:include="~{ footer :: #footer }"></footer>
</body>
</html>