<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:include="~{ head :: #head }"></head>

<body>
    <header th:include="~{ header :: #header }"></header>
    <main class="container">
        <div class="h2" th:text="${entete_titre}"></div>
        <form name="userForm" method="POST" autocomplete="off" th:action="@{'/user/edit/' + ${u.id}}"> 
            <div id="userFields"> 
            
            	<input type="hidden" id="userid" th:value="${u?.id}" >
            	
            	<div id="message"></div>
            
            	<div class="progress mb-3">
				  <div class="progress-bar" id="progressbar-inner" role="progressbar" style="width: 0%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
				</div>

	            <div class="mb-3">
	                <label for="nom" class="form-label">Nom</label>
	                <input type="text" class="form-control" id="nom" onchange="createRandomUsername();calculProgress();" name="nom" placeholder="Nom" th:value="${u?.name}"  minlength="2" required>
	            </div>
	
	            <div class="mb-3">
	                <label for="username" class="form-label">Nom d'utilisateur</label>
	                <input type="text" class="form-control" id="username" name="username" onchange="calculProgress();checkUser()" placeholder="Username" th:value="${u?.username}"  minlength="2" required autocomplete="false">
	            </div>
	
	            <div class="mb-3">
	                <label for="photouser" class="form-label">Photo</label>
	                <input type="text" class="form-control" name="photouser" id="photouser" onchange="calculProgress()" placeholder="Photo" th:value="${u?.photouser}" minlength="2" required>
	            </div>
	
	            <div class="mb-3">
	                <label for="email" class="form-label">Email</label>
	                <input type="text" class="form-control" name="email" id="email" onchange="calculProgress();checkUser()" th:placeholder="${placeholder_mail}" th:value="${u?.email}" minlength="2" required>
	            </div>
	
	            <div class="mb-3">
	                <label for="password" class="form-label">Mot de passe</label>
	                <div class="row">
	                	<div class="col-10">
	                		<input type="password" autocomplete="new-password" onchange="calculProgress()" class="form-control" id="password" name="password" placeholder="Mot de passe"  minlength="2" th:required="${!is_edit}">
	                	</div>
	                	<div class="col-2">
	                		<button class="btn btn-primary" type="button" onclick="document.getElementById('password').value=randomPass()"><i class="fa fa-key" aria-hidden="true"></i></button>
	                	</div>
	                </div>
	            </div>
			</div>
	
            <div  id="roleField">
	            <div class="mb-3" >
	                <label for="nom" class="form-label">Rôle</label>
	
	                <div>
	                    <div class="form-check form-check-inline">
	                        <input class="form-check-input" type="radio" id="user" name="roles" value="ROLE_USER" th:checked="${!as_admin}">
	                        <label class="form-check-label" for="user">Utilisateur</label>
	                    </div>
	                    <div class="form-check form-check-inline">
	                        <input class="form-check-input" type="radio" id="admin" name="roles" value="ROLE_ADMIN" th:checked="${as_admin}">
	                        <label class="form-check-label" for="admin">Administrateur</label>
	                    </div>
	                </div>
	            </div>
            </div>
            

            <button type="submit" class="btn btn-secondary" id="submitbtn">Valider</button>
            <button type="reset" class="btn btn-danger float-end">Annuler</button>
        </form>
    </main>
    <footer th:include="~{ footer :: #footer }"></footer>
</body>

</html>